.topbar
  .fill
    .container
      .brand nOSCaine
      
.container
  .content
    .page-header 
      h1 nOSCaine 
        small  Node OSC Sniffer
    .row
      .span10
        h2 Messages
        ul#messages
      .span4
        h2 Server
        form
          input(type="text", name="host", value="127.0.0.1").input-small
          input(type="text", name="port", value="9001").input-small
          #sniff-btn.btn.success Sniff
        
  footer
    p 2011
      

